@-moz-document domain(google.com) {
    
   [class], [id] {
      font-family: SF UI Display !important;
      font-weight: normal !important;
   }

   body, a.ab_button, a.ab_button:hover {
      background: #373737 !important;
      color: rgb(190, 190, 190) !important;
   }

   a:link, a.fl:link {
      color: #4285F4;
   }

   .mblink:visited, a:visited {
      color: #7E57C2;
   }

   cite {
      color: #34A853
   }

   .s, .kno-ecr-pt, #hdtb .hdtb-mitem a, #hdtb .hdtb-mitem a:hover, #hdtb-msb #hdtb-more, #hdtb-msb #hdtb-tls, #resultStats, #hdtb.notl div, #hdtb .hdtbItm a, .hdtbItm.hdtbSel, ._xdb .fl, .gsfi, #cdrlnk, #foot #navcnt .cur, #wob_loc, #wob_dts, #wob_dcp, #wob_dc, #wob_d, #wob_tm, .vk_sh, #wob_ttm, .vk_bk, .lr_dct_lbl_box, #center_col ._WGh .exp-txt-c, ._cwc, .tw-lang-selector, .tw-data-text, #tw-source-text-ta {
      color: rgb(190, 190, 190) !important;
   }

   /* Seach input */
   .sbib_a {
      background: #505050 !important;
      color: rgb(190, 190, 190)
   }

   /* Search input border */
   .sbibod {
      border: #505050 !important;
   }

   /* Seach Suggestions */
   .sbdd_b, .sbsb_a {
      background: #505050 !important;
      border: #343434;
      border-top: 1px solid #343434;
      width: 589px
   }

   /* More search suggestions */
   .sbsb_c:hover, #hdtbMenus.hdtb-td-o, .hdtbItm.hdtbSel, #hdtb .hdtbItm a, #cdrlnk {
      background: #606060;
   }

   /* Google Seach & I'm Feeling Lucky buttons */
   .jhp input[type="submit"], .jhp input[type="submit"]:hover, s.sbdd_a input, s.sbdd_a input:hover, .gbafba, .gbqfba, .gbqfba:hover, .gbqfba .gbqfba-hvr, .gbqfb, .gbqfbb, .ab_button, .ab_button.selected, .ab_button.selected:hover, .ab_button:hover {
      background: -moz-linear-gradient(top, #505050, #505050) !important;
      background-image: -moz-linear-gradient(top, #505050, #505050);
      background-color: rgb(80, 80, 80);
      border: #505050;
      color: rgb(190, 190, 190) !important;
      font-family: SF UI Display;
      font-weight: normal;
   }

   /* Gmail + Images Links */
   #gb#gb a.gb_P, #gb#gb span.gb_P, #gb#gb a.gb_b, .gb_b {
      color: rgb(190, 190, 190) !important;
      font-family: SF UI Display !important;
      
   }

   /* Sign in Button */
   .gb_Ea, .hdtb-tl, .hdtb-tl:hover, #hdtb.notl li:hover, #wob_temp, #wob_rain, #wob_wind {
      background: -moz-linear-gradient(top, #505050, #505050) !important;
      border: #505050 !important;
      color: rgb(190, 190, 190) !important;
      font-weight: normal;
      font-size: 12.5px;
      font-family: SF UI Display !important;
   }

   /* Bottom bar/Fbar */
   #fbar {
      visibility: hidden
   }

   /* Results page search Button */
   #sblsbb {
      height: 38px !important;
   }
    
   /* area around search input + Images, Maps, Etc links */
   .sfbgg, #hdtbSum {
      background-color: rgb(64, 64, 64) !important;
      border-bottom: 1px solid rgb(52, 52, 52);
   }

   #appbar {
      background: rgb(64, 64, 64) !important;
      border-bottom: 4px solid rgb(52, 52, 52);
   }

   .hdtb-mn-o {
      background: rgb(64, 64, 64);
      border: 2px solid rgb(52, 52, 52);
      box-shadow: 0 0px 0px;
   }
    
   /* Highlighted words? */
   .s .st em, .st.s.std em {
      color: #FFF !important;
      font-weight: normal !important;
   }

    .crl:hover, .mn-dwn-arw, ._Bs, ._Bs:hover {
      color: #777;
      border-color: #777 transparent !important
   }
   
   #hdtb .hdtb-mitem a:hover, .hdtbItm.hdtbSel:hover, #hdtb .hdtbItm a:hover, #cdrlnk:hover {
      background: #606060 !important;
   }
    
   #hdtb.notl div {
      background: rgb(64, 64, 64);
   }
   
   .cdr_sep {
      border-top: 3px solid #343434;
      height: 0
   }

   a.gb_b.gb_Pb, .gb_oc, #ab_opt_icon, .selected ._p0b, .nV461, ._Fnc, .lr_dct_spkr, ._mSi ._oSi svg {
      filter: invert(1) !important
   }
    
   /* Various cards */   
   #wob_wc, #tw-container {
      background: #373737 !important;
   }
   
   ._wYb {
      background-color: #343434;
      width: 3px !important;
   }

   .wob_ds, .wob_df:hover, .lr_dct_lbl_box, ._xk {
      background: #505050;
      border: 1px solid #505050;
      margin: 0
   }
   
   .vk_arc, .kp-blk .xpdopen ._xle {
      border: #505050;
      border-top: 3px solid #505050;
   }
    
   ._zF, .mslg .ab_button, ._zF:hover, .mslg .ab_button:hover  {
      background: #505050;
      border: 1px solid rgb(52, 52, 52);
      color: rgb(190, 190, 190)
   }
   
   *[id^='lr_dct_img_origin'], *[id^='lr_dct_img_use'], .vk_aru, .vk_ard, .tw-menu-btn-image {
      filter: invert(0.785) !important;     
   }
}
